@model NewCrudApp.Models.UpdateEmployeeViewModel

<h3>Edit Employee</h3>

<form method="post" enctype="multipart/form-data" asp-controller="Employee" asp-action="View" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Employee Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Employee Email</label>
        <input type="text" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Employee Salary</label>
        <input type="number" class="form-control" asp-for="Salary">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Date of Joining</label>
        <input type="date" class="form-control" asp-for="DateOfJoining">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">City Name</label>
        <input type="text" class="form-control" asp-for="City">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    <button type="submit" class="btn btn-danger" 
    asp-action="Delete" 
    asp-controller="Employee"> Delete </button>

</form>

